/* Place CSS styles here */
body {
  font-family: 'Roboto Mono', monospace;
  color: #1b1b1b;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

img {
  width: 100%;
}

h2 {
  color: blue;
}

.uglybutton {
  color: orange;
}

#container {
  color: purple;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.container-wrapper {
  background-color: #dcdcdc;
}

.button {
  background-color: #3e299b;
  color: #efefef;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: #d3d136;
}

.button:focus {
  border: 1px solid #d3d136;
}

.button-small {
  font-size: 12px;
}

/* HEADER STYLES */
.main-header {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.main-nav .button {
  margin-right: 8px;
}

/* START HOMEPAGE STYLES */

/* END HOMEPAGE STYLES */

/* START ABOUT STYLES */
.about-wrapper {

}

.about-featured-items {
  display: flex;
}

.about-featured-item {
  margin-right: 4px;
  border: 1px solid black;
}
/* END ABOUT STYLES */

.items {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.giraffe-color {
  color: #666;
}

.giraffe-badass {
  color: #bada55;
}

.giraffe-italics {
  font-style: italic;
}

.giraffe-site-title {
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 3px 3px 7px #00c200;
}

.giraffe-site-title-3:hover {
  opacity: 0;
}

.giraffe-site-title-0:hover {
  opacity: 0;
}
